.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
    margin: 0 auto;
}

.place:not(:last-child) {
    margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        gap: 28px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
    }
}